@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,
html {
    margin: 0;
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
}

body {
    background-color: rgb(15, 23, 42);
    color: rgb(148, 163, 184);
    max-width: 700px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(229, 231, 235);
}

a {
    text-decoration: none;
    color: rgb(98, 234, 213);
    font-weight: 600;
}

a:hover {
    color: rgb(78, 187, 170);
}

img {
    max-width: 100%;
    border-radius: 8px;
}

#experience-list {
    padding: 0 4%;
}

.project,
#about {
    padding: 2% 4%;
}

.project img {
    margin: 8px 0;
}