footer {
    margin: 40px 0;
}

.icons-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

a {
    color: rgb(148, 163, 184);
    text-decoration: none;
}

a:hover {
    color: rgb(229, 231, 235);
}

svg {
    width: 20px;
    height: 20px;
}

.bi-github {
    width: 22px;
    height: 22px;
}

.copyright {
    font-size: 0.8rem;
    text-align: center;
}