article {
    margin: 40px 0;
}

a {
    font-weight: 600;
    color: rgb(98, 234, 213);
    text-decoration: none;
}

a:hover {
    color: rgb(78, 187, 170);
}

.experience-date {
    margin: 0 0 8px 0;
}

.experience-role-company {
    display: flex;
    align-items: center;
}

.experience-role-company h3 {
    color: rgb(229, 231, 235);
    margin: 0;
}

.divider {
    margin: 0 4px;
}

.experience-skills {
    margin: 24px 0 0 0;
}

.experience-skills .skill {
    display: inline-block;
    color: rgb(98, 234, 213);
    background-color: #122B39;
    font-size: 12px;
    padding: 4px 16px;
    border-radius: 50px;
    margin: 0 4px 4px 0;
}