article {
    cursor: pointer;
    padding: 4%;
    border-radius: 8px;
}

article:hover {
    background-color: rgb(19, 29, 51);
}

.post {
    display: flex;
    justify-content: space-between;
}

.post-author-pic-section {
    min-width: 56px;
}

.post-author-pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.post-content {
    width: 90%;
}

.post-author {
    margin: 0 0 8px 0;
}

.post-author-name {
    font-weight: 600;
    color: rgb(229, 231, 235);
}

.post-author-username,
.post-date {
    color: #94a3b8;
}

.post-content a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(98, 234, 213);
}

.post-content .tags {
    margin: 0 0 16px 0;
}

.post-content .tags .tech {
    display: inline-block;
    color: rgb(98, 234, 213);
    background-color: #122B39;
    font-size: 12px;
    padding: 4px 16px;
    border-radius: 50px;
    margin: 0 4px 4px 0;
}

img {
    max-width: 100%;
    border-radius: 8px;
}